.container {
  display: flex;
  padding: 9px 12px;
  align-items: center;
  height: 3vh;
}
.link {
  margin: 4px;
  margin-right: 64px;
  text-decoration: none;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

@media (max-width: 450px) {
  .link {
    margin-right: 32px;
  }
}
