:root {
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: helvetica;
}

@font-face {
  font-family: 'helvetica';
  font-size: 11;
  font-style: normal;
  src: url('/fonts/woff2/Helvetica.ttc');
}

a {
  text-decoration: none;
  all: unset;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  all: unset;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
