*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'helvetica';
  font-size: 11px;
}

@font-face {
  font-family: 'helvetica-light';
  src: url('/fonts/woff2/Helvetica-Light.ttf');
}

@font-face {
  font-family: 'comorant-garamond';
  src: url('/fonts/woff2/CormorantGaramond-SemiBoldItalic.ttf');
}

a {
  text-decoration: none;
  all: unset;
}

body {
  margin: 0;
  display: flex;
  min-width: 360px;
  min-height: 100vh;
  min-height: 100dvh;
}

button {
  all: unset;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
